.container {
width: 100%;
height: 100vh;
display: grid;
background-color:rgb(155, 154, 154)
}

.SetsQuestion{
    margin-top:50px;
    text-align: center;
    font-size:25px;
    
}
.inputBox{
    margin:auto;
    margin-bottom: 0%;

}
.GoButtonDiv{
    margin-top: 10px;
    margin-bottom: 150px;
    text-align: center;
}

.GoButton{
    margin: auto;
    margin-bottom: 400px;

}

